{% extends "base_generic.html" %}

{% block content %}

<h1><strong>Ragamafia LOCAL Library</strong></h1>

<p>Добро пожаловать в библиотеку "Ragamafia Library"!</p>
<p>Этот сайт - не более чем  небольшой проект разработанный в рамках обучения работы с фреймворком Django</p>

<p><em>Общие данные о книгах библиотеки:</em></p>
<p>_______________________________________</p>
<ul>
	<li><strong>Книг в библиотеке:</strong> {{ num_books }}</li>
	<li><strong>Количество экземпляров:</strong> {{ num_instances }}</li>
	<li><strong>Доступно экземпляров:</strong> {{ num_instances_available }}</li>
	<li><strong>Авторов:</strong> {{ num_authors }}</li>
	<li><strong>Жанров:</strong> {{ num_genres }}</li>
	<li><strong>Harry Potter:</strong> {{ num_harry_potter }}</li>
</ul>

<p>
	You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{%
	else %} times{% endif %}.
</p>

{% endblock %}